body {
  padding: 0px;
  margin: 0px;
  background-color: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  padding: 48px;
}

.card {
  background: white;
  border-radius: 16px;
  width: 350px;
}